<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Utils</title>
</head>
<body>
<h1>Welcome to Text Analyzer. Enter your text Below</h1>
<form action="/analyze" method="get">
    <textarea name="text" style="width: 1430px; height: 240px;"></textarea><br>
    <input type="checkbox" name = "removepunc"> Remove Punctuations<br>
    <input type="checkbox" name = "fullcaps"> Upper Case<br>
    <input type="checkbox" name = "newlineremove"> New Line Remover<br>
    <input type="checkbox" name = "extraspaceremover"> Extra Space Remover<br>
    <input type="checkbox" name = "charcount"> The total no of character<br>
    <button type="submit">Analyze text</button>
</form>
</body>
</html>